*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(
        to right,
        black 0%,
        black 20%,
        white 20%,
        white 100%
    );
}
